@using WebMatrix.Data
@using Microsoft.VisualBasic

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Blindsettings";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //request the last 7 digits of the urgl (roomcode)
    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    if (!IsPost)
    {
        //if (Request.Form["adminLogin"] != "true")
        //{
        //    Response.Redirect("~/Login.cshtml");
        //}
    }

    string error = "";
    int Blind_Round = (db.QueryValue("SELECT COUNT(Value) FROM Blinds WHERE Room_Code = @0 AND S_B = 's'", urlcode));
    if (IsPost && Validation.IsValid())
    {

        if (Request["AddBlinds"] == "Add")
        {
            int small = Convert.ToInt32(Request["small"]);
            int big = Convert.ToInt32(Request["big"]);
            int small_blind = Convert.ToInt32(db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 's' ORDER BY Value DESC", urlcode));
            int big_blind = Convert.ToInt32(db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 'b' ORDER BY Value DESC", urlcode));
            if (!Request["small"].IsEmpty() && !Request["big"].IsEmpty())
            {
                if ((small_blind <= small) && (big_blind <= big))
                {
                    int id_old = Convert.ToInt32(db.QueryValue("SELECT ID FROM Blinds WHERE Room_Code = @0 ORDER BY ID DESC", urlcode));
                    int id_new = 1;
                    if (id_old != 0)
                    {
                        id_new = id_old + 1;
                        Blind_Round = id_new;
                    }
                    db.Execute("INSERT INTO Blinds (Room_Code, ID, S_B, Value) VALUES (@0, @1, 's', @2)", urlcode, id_new, small);
                    db.Execute("INSERT INTO Blinds (Room_Code, ID, S_B, Value) VALUES (@0, @1, 'b', @2)", urlcode, id_new, big);
                }
                else
                {
                    error = "This value('s) are too low.";
                }
            }
        }
        if (Request["delete"] == "delete")
        {
            string rowblind = Request.Form["rowblindform"];
            db.Execute("DELETE FROM Blinds WHERE ID = @0 AND Room_Code = @1", rowblind, urlcode);
        }
        if (Request["Proceed"] == "Proceed")
        {
            string Url = "AdminPage.cshtml/" + urlcode;
            Response.Redirect("~/" + Url);
        }
    }

}
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Settings</h3>
                <form style="display: inline-block" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6"> <label for="form5">Small blind</label> <input class="form-control" type="number" name="small" placeholder="Small Blind @Blind_Round" /> </div>
                        <div class="form-group col-md-6"> <label for="form6">Big blind</label> <input class="form-control" type="number" name="big" placeholder="Big Blind @Blind_Round" /> </div>
                    </div>
                    <button class="btn btn-primary" type="submit" name="AddBlinds" value="Add">Add</button>
                    <button class="btn btn-primary" type="submit" name="Proceed" value="Proceed">Proceed</button>
                </form>
            </div>
            </div>
        </div>
            <div class="py-5 text-center">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto col-lg-6 col-10">
                            <p>@error</p>
                            <div class="row" style="justify-content:center">
                                <div style="width:200px" class="table-responsive">
                                    <p>Small</p>
                                    <table class="table">
                                        <tbody>
                                            @foreach (var row in db.Query("SELECT Value, ID FROM Blinds WHERE Room_Code = @0 AND S_B = 's' ORDER BY ID ASC", urlcode))
                                            {
                                                int rowblindform = (int)row.ID;
                                                <tr>
                                                    <td>
                                                        <p><b>Round @rowblindform:</b> @row.Value</p>
                                                    </td>
                                                    <td>
                                                        <form method="post">
                                                            <button class="btn btn-outline-primary" type="submit" name="delete" value="delete">X</button>
                                                            @Html.Hidden("rowblindform", rowblindform)
                                                        </form>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                                <div style="width:200px" class="table-responsive">
                                    <p>Big:</p>
                                    <table class="table">
                                        <tbody>
                                            @foreach (var row in db.Query("SELECT Value, ID FROM Blinds WHERE Room_Code = @0 AND S_B = 'b' ORDER BY ID ASC", urlcode))
                                            {
                                                int rowblindform = (int)row.Value;
                                                int roundNr = (int)row.ID;
                                                <tr>
                                                    <td>
                                                        <p><b>Round @roundNr:</b> @row.Value</p>
                                                    </td>
                                                    <td>
                                                        <form method="post">
                                                            <button class="btn btn-outline-primary" type="submit" name="delete" value="delete">X</button>
                                                            @Html.Hidden("rownameform", rowblindform)
                                                        </form>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <form method="post">
                                
                            </form>
                        </div>
                    </div>



                </div>
            </div>
    </div>


                
