@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Select Game";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //Looks if user logged in
    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    int? roomCode = null;

    Random r = new Random();
    do
    {
        roomCode = r.Next(1000000, 9999999);
    } while (db.QuerySingle("SELECT * FROM Room WHERE Room_Code = @0", roomCode) != null);
    if (IsPost && Request.Form["new"] == "submit")
    {
        string Url = "Settings.cshtml/" + roomCode;
        Response.Redirect("~/" + Url);
    }
}

<div class="py-5 text-center">
    <div class="container">
        @if (db.QueryValue("SELECT Room_Code FROM ROOM") == null)
        {
            <div class="row" style="text-align: center">
                <div class="col-md-12">
                    <div style="display:inline-block">
                        <form method="post">
                            <input type="hidden" name="roomCode" value="@roomCode" />
                            <button class="btn btn-outline-secondary" type="submit" name="new" value="submit">New Game</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <form method="post">
                <div class="footer">
                    <input type="hidden" name="roomCode" value="@roomCode" />
                    <button class="btn btn-outline-secondary" type="submit" name="new" value="submit">New Game</button>
                </div>
            </form>
        }
        <div class="col text-center">
            <div class="mx-auto col-lg-6 col-10">
                <div style="padding: 15px 0px 0px 0px" class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <!--Shows games that have been made-->
                                @foreach (var row in db.Query("SELECT Room_Code, Room_Name, Room_Create_Date FROM Room ORDER BY Room_Create_Date DESC"))
                                {

                                    string code = Convert.ToString((int)row.Room_Code);
                                    string prelink = Request.Url.AbsoluteUri;
                                    string[] link = prelink.Split('/');
                                    string linked = link[0] + "//" + link[2] + "/PlayingAdmin/" + code;
                                    <tr style="cursor:pointer" class="clickable" data-href="@linked">
                                        <td>
                                            <h3>@row.Room_Name</h3>
                                            <small>@row.Room_Code - @row.Room_Create_Date</small>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Makes the whole row clickable
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>