@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Select Game";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    Random r = new Random();
    var roomCode = r.Next(1000000, 9999999);

    var selectQuery = "SELECT * FROM Room WHERE Room_Code = @0";
    var selectRoomcodes = db.QuerySingle(selectQuery, roomCode);

    if (selectRoomcodes == null)
    {
        if (IsPost && roomCode != selectRoomcodes)
        {
            
            string Url = "Settings.cshtml/" + roomCode;
            Response.Redirect("~/" + Url);
        }
        else if (IsPost)
        {
            Response.Write("Probeer het nog eens...");
        }
    }
}

<div class="py-5 text-center">
    <div class="container">
        <div class="col text-center">
            <div class="mx-auto col-lg-6 col-10">
                <div style="padding: 15px 0px 0px 0px" class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                @foreach (var row in db.Query("SELECT Room_Code, Room_Name, Room_Create_Date FROM Room ORDER BY Room_Create_Date DESC"))
                                {
                                    
                                    string code = Convert.ToString((int)row.Room_Code);
                                    string Url = "Settings.cshtml/" + code;
                                    <tr style="cursor:pointer" class="clickable" data-href="@Url">
                                        <td>
                                            <h3>@row.Room_Name</h3>
                                            <small>@row.Room_Code - @row.Room_Create_Date</small>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            <div style="padding: 0px 3px 3px 3px">

            </div>
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
<form method="post">
    <div class="footer">
        <input type="hidden" name="roomCode" value="@roomCode" />
        <button class="btn btn-outline-primary" type="submit">Generate roomCode</button>
    </div>
</form>