@using WebMatrix.Data

@{
    Page.Title = "Game running";
    Layout = "~/_Layout.cshtml";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //Gets roomcode from url
    string prelink = Request.Url.AbsoluteUri;
    string[] link = prelink.Split('/');
    string linked = link[0] + "//" + link[2] + "/Players/" + link[4];
    int roomCode = Convert.ToInt32(link[4]);

    //Return to login if players are lower than min_size
    int players = Convert.ToInt32(db.QueryValue("SELECT COUNT(Player) FROM Players WHERE Room_Code = @0", roomCode));
    int min_size = Convert.ToInt32(db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", roomCode));
    if (players < (min_size + 1))
    {
        Response.Redirect("~/AdminPage.cshtml");
    }

    //Gets the chipworths 
    var chips = db.QuerySingle("SELECT Chip_1_Worth, Chip_2_Worth, Chip_3_Worth, Chip_4_Worth, Chip_5_Worth FROM Room WHERE  Room_Code=@0", roomCode);

    int chip1 = chips.Chip_1_Worth;
    int chip2 = chips.Chip_2_Worth;
    int chip3 = chips.Chip_3_Worth;
    int chip4 = chips.Chip_4_Worth;
    int chip5 = chips.Chip_5_Worth;

    //Looks if user logged in
    if (Request.Cookies["LoginCookie"] is null || Request.Cookies["LoginCookie"].Value != "true")
    {
        Response.Redirect("~/Login.cshtml");
    }

    //Pauzes the game, shuffles the players or manages the names on choice
    int tables = db.QueryValue("SELECT TOP 1 Tbl_nr FROM Players WHERE Room_Code = @0 ORDER BY Tbl_nr DESC", roomCode);
    if (IsPost && Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
    {
        switch (Request.Form["submit"])
        {
            case "shuffle":
                Shuffle shuffle = new Shuffle();
                shuffle.ShuffleTable(db, roomCode);
                //Update tables with AJAX//
                break;
            case "start":
                db.Execute("UPDATE Room SET Started_Time = @0 WHERE Room_Code = @1", DateTime.Now, roomCode);
                break;
            case "delete":
                <script>
                    $(document).ready(function () {
                    if (confirm("Do you really want to delete this room? This is irreversible!")) {
                        @{db.Execute("DELETE FROM Room WHERE Room_Code = @0", roomCode);
                        Response.Redirect("~/Gameselect.cshtml");}
                        }
                    })
                </script>
                break;
            default:
                break;
        }

    }
}
                <!--Styling for the chips-->
                <style>
                    .chipcentered {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                </style>
<div id="begin" class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!--Sidebar start-->
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="~/assets/logo.png"
                         alt="Tres Logo">
                </div>
                <div id="close-sidebar" style="float:right">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- TOC start -->
            <div class="sidebar-menu">
                <ul>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li> <a href="~/Gameselect.cshtml/">Select a different game</a> </li>
                    <li> <a href="~/Settings/@roomCode">Settings</a> </li>
                    <li> <a href="~/Blinds/@roomCode">Blinds</a> </li>
                    <li> <a href="~/AdminPage/@roomCode">Change players</a> </li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                    <li style="visibility:hidden"> -----------------------</li>
                </ul>
                <button style="margin-left:50px" class="btn btn-warning" type="submit" value="delete" name="submit">Delete game</button>
                <div style="bottom:0">

                </div>
            </div>
            <!-- TOC end -->
        </div>
        <!-- Footer with chip values start -->
        <div class="sidebar-footer">
            <a>
                <img src="~/Chip_White.png" alt="chip1" style="width:50px;height:50px" />
                <strong><span class="chipcentered" style="color:black">@chip1 </span></strong>
            </a>
            <a>
                <img src="~/Chip_Red.png" alt="chip2" style="width:50px;height:50px" />
                <strong><span class="chipcentered" style="color:black">@chip2</span></strong>
            </a>
            <a>
                <img src="~/Chip_Blue.png" alt="chip3" style="width:50px;height:50px" />
                <strong><span class="chipcentered" style="color:black">@chip3</span></strong>
            </a>
            <a>
                <img src="~/Chip_Green.png" alt="chip4" style="width:50px;height:50px" />
                <strong><span class="chipcentered" style="color:black">@chip4</span></strong>
            </a>
            <a>
                <img src="~/Chip_Black.png" alt="chip5" style="width:50px;height:50px" />
                <strong><span class="chipcentered" style="color:black">@chip5</span></strong>
            </a>
        </div>
        <!-- Footer with chip values end -->
    </nav>
    <main class="page-content">
        <div class="py-5">
            <div class="container">
                <div class="col-md-12 text-center">
                    <header>
                        <h1>Game in progress</h1>
                    </header>
                    <div class="col-md-12 text-center">
                        <div class="row" style="justify-content:center">
                            <form name="updateSettings" method="post">
                                <div class="form-row" style="justify-content:center">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit" value="shuffle" name="submit">Shuffle all</button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit" name="submit" value="start">Start</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="row"></div>
                        <div style="justify-content:center; padding-top:20px" class="row"><p>Share this link: <a href=@linked>@linked</a></p></div>
                    </div>
                    <!--Grid for the Playing admin page-->

                    <div class="row">
                        <div class="col-md-9">
                            <div class="pAdminGrid" style="justify-content:center">
                                <!--Position for the tables-->
                                <div class="pTable" style="text-align: center">
                                    @for (int i = 0; i < tables; i++)
                                    {
                                        int tbl_Nr = i + 1;
                                        <div style="width:200px; display:inline-block; margin-right:10px" class="table-responsive">
                                            <table class="table" style="width:200px; padding-left:20px">
                                                <tbody>
                                                    <tr>
                                                        <th>Table @tbl_Nr</th>
                                                    </tr>
                                                    @foreach (var row in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", roomCode, tbl_Nr))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <p>@row.Name</p>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--Position for the blinds-->
                        <div class="col-md-3">
                            <table class="table serial">
                                <tbody>
                                    <tr>
                                        <th>Round</th>
                                        <th>Small Blind</th>
                                        <th>Big Blind</th>
                                    </tr>
                                    @foreach (var row in db.Query("SELECT ValueSB, ValueBB, ID FROM Blinds WHERE Room_Code = @0 ORDER BY ID ASC", roomCode))
                                    {
                                        int rowblindform = (int)row.ID;
                                        <tr>

                                            <td>
                                                <p>@row.ValueSB</p>
                                            </td>
                                            <td>
                                                <p>@row.ValueBB</p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/jquery.ba-outside-events.min.js"></script>
    <script>
        //Adds a number before the "first" column
        function addRowCount(tableAttr) {
            $(tableAttr).each(function () {
                $('td:first-child', this).each(function (i) {
                    $(this).before('<td>' + (i + 1) + '</td>');
                });
            });
        }
        addRowCount('.serial');
    </script>
