@using WebMatrix.Data

@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string url = Request.Url.AbsolutePath;
    string urlcode = url.Substring(url.Length - 7);

    int table = Convert.ToInt32(Session["tablenumber"]);

    var namen = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, table);
    int aantal = namen.Count();
    double gedeeld = aantal / 2;
    int helft = Convert.ToInt32(gedeeld);
    int eerste = Convert.ToInt32(aantal - helft);
    int tweede = Convert.ToInt32(eerste - 1);
    if (aantal % 2 == 0)
    {
        tweede = eerste;
    }

    int id = db.QueryValue("SELECT Blind_Round FROM Room WHERE Room_Code = @0", urlcode);
    int blind_id = db.QueryValue("SELECT TOP (@0) ID FROM Blinds WHERE Room_Code = @1 ORDER BY ID ASC", id, urlcode);
    int small = db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 's' AND ID = @1", urlcode, blind_id);
    int big = db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 'b' AND ID = @1", urlcode, blind_id);

    if (!IsPost)
    {
        Session["small"] = small;
        Session["big"] = big;
    }
}

<html>
<head>
<title>Tableview</title>
</head>
<body>
    <h1>Table @table</h1>
    <br />
    <div>
        @foreach (var a in db.Query("SELECT TOP (@0) Name FROM Players WHERE Room_Code = @1 AND Tbl_nr = @2 ORDER BY Name ASC", eerste, urlcode, table))
        {
            @a.Name
            <img src="~/stoel.png" name="chair" />
        }
    </div><br />
    <div>
        <img src="~/tafel.png" name="pokertable" />
    </div>
    <br /><div>
        @foreach (var a in db.Query("SELECT TOP (@2) Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name DESC", urlcode, table, tweede))
        {
            <img src="~/stoel.png" name="chair" />
            @a.Name
        }
    </div>
    <br />
    <br />
    <form method="post">
        <input type="submit" name="blindnext" value="Raise_Blind" />
    </form>
    @{
        int c_small = (int)Session["small"];
        int c_big = (int)Session["big"];

        if (IsPost && !Request["blindnext"].IsEmpty())
        {
            int current_Round = db.QueryValue("SELECT Blind_Round FROM Room WHERE Room_Code = @0", urlcode);
            int new_Round = current_Round + 1;
            db.Execute("UPDATE Room SET Blind_Round = @0 WHERE Room_Code = @1", new_Round, urlcode);
            small = db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 's' AND ID = @1", urlcode, blind_id);
            big = db.QueryValue("SELECT Value FROM Blinds WHERE Room_Code = @0 AND S_B = 'b' AND ID = @1", urlcode, blind_id);
            Session["small"] = small;
            Session["big"] = big;
            <script>
                alert("The blind has been raised!");
            </script>
        }
    }

    <h2>@small</h2>
    <h2>@big</h2>
</body>
</html>