@using WebMatrix.Data
@using System.Linq;
@{
    Layout = "~/_Layout.cshtml";
    //Gets roomcode and tablenumber
    int roomCode = Request.QueryString["roomcode"].AsInt();
    int table = Request.QueryString["table"].AsInt();
    Page.Title = "Table" + table;

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    //Creates roomcode
    string Url = "RulesPageNL/" + roomCode;
    string urlBack = "Players/" + roomCode;

    //Splits number of names in two 
    var names = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", roomCode, table);
    int amount = names.Count();
    double devision = amount / 2;
    int halfnamesCount = Convert.ToInt32(devision);
    int firsthalfnamesCount = Convert.ToInt32(amount - halfnamesCount);
    int secondhalfnamesCount = Convert.ToInt32(firsthalfnamesCount - 1);
    if (amount % 2 == 0)
    {
        secondhalfnamesCount = firsthalfnamesCount;
    }

    //Gets startvalue
    int startvalue = db.QueryValue("SELECT Start_Value FROM Room WHERE Room_Code = @0", roomCode);


    //If minimum size is reached reshuffle names by tables
    int min_size = db.QueryValue("SELECT Tbl_Min_Size FROM Room WHERE Room_Code = @0", roomCode);
    int players = db.QueryValue("SELECT COUNT(Name) FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", roomCode, table);
    if (min_size >= players)
    {
        Shuffle shuffle = new Shuffle();
        shuffle.ShuffleTable(db, roomCode);
        Url = "Players.cshtml/" + roomCode;
        Response.Redirect("~/" + Url);
    }

    dynamic room = db.QuerySingle("SELECT * FROM Room WHERE Room_Code = @0", roomCode);
    TimeSpan startTime;
    if (room.Started_Time != null)
    {
        startTime = DateTime.Now - room.Started_Time;
    }
    else
    {
        startTime = TimeSpan.Zero;
    }
    TimeSpan pauseTime = room.Pause_Time;
    TimeSpan pauseDuration = room.Pause_Duration;
    TimeSpan blindTime = room.Blind_Time;
    int hrs = startTime.Hours;
    int mns = startTime.Minutes;
    int scs = startTime.Seconds;
    int started = Convert.ToInt32(room.Started);
    TimeSpan totalRoundTimer = room.Round_Time;
    int round = (int) Math.Ceiling(startTime.TotalSeconds / totalRoundTimer.TotalSeconds);
    var blinds = db.Query("SELECT ValueSB, ValueBB FROM Blinds WHERE Room_Code = @0", roomCode);
    int blindsIndex = (int) Math.Floor(startTime.TotalSeconds / blindTime.TotalSeconds);
    int small;
    int big;
    try
    {
        small = blinds.ElementAt(blindsIndex).ValueSB;
        big = blinds.ElementAt(blindsIndex).ValueBB;
    }
    catch
    {
        small = blinds.Last().ValueSB;
        big = blinds.Last().ValueBB;
    }
    db.Close();
}
<div class="header">
    <div style="cursor:pointer; float:right; margin-top:40px;margin-right:70px" class="btn btn-primary clickableBtn" data-href="@Url">
        Rules
    </div>
    <div style="cursor:pointer; float:right; margin-top:40px;margin-right:10px" class="btn btn-primary clickableBtn" data-href="@urlBack">
        Back
    </div>
</div>
<div class="py-5">
    <!--Filling JS variables-->
    <div style="display: none;">
        <p id="Hours">@hrs</p>
        <p id="Minutes">@mns</p>
        <p id="Seconds">@scs</p>
        <p id="Time">@startTime.TotalSeconds</p>
        <p id="Blinds">@blindTime.TotalSeconds</p>
        <p id="Pause">@pauseTime.TotalSeconds</p>
        <p id="Started">@started</p>
        <p id="BlindIndex"></p>
        <p id="roomCode">@roomCode</p>
        <p id="table">@table</p>
        <p id="totalRoundTimer">@totalRoundTimer.TotalSeconds</p>
        <p id="PauseDuration">@pauseDuration.TotalSeconds</p>
    </div>
    <!--Start the page-->
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Table @table</h1>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                @if (started == 0)
                {
                    <div name=timer class="timer">Game not running</div>
                }
                else
                {
                    <div name=timer class="timer">loading timer...</div>
                }
                <div name="timer" class="timer"></div>
                <div class="round">This is round: <span id="rnumber">@round</span></div>
            </div>
            <div class="col-md-8">
                <div class="gridd" id="activebody" style="text-align: center; max-height:500px; max-width:800px;">

                    <div class="white"></div>
                    <div class="white2"></div>
                    <div class="white3"></div>
                    <div class="white4"></div>
                    <div class="tabloo" style=" height:auto; width:auto">
                        <img src="~/assets/Tableview/Pokertable.png" style="height: 100%; width: 100%; object-fit: contain" />
                    </div>
                    <div class="gridRow1">
                        @foreach (var a in db.Query("SELECT TOP (@2) Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name DESC", roomCode, table, secondhalfnamesCount))
                        {
                            <div class="chair" style="display: inline-block">
                                <button id="pokerstool" value="@a.Name" name="player" type="button">@a.Name</button>
                            </div>
                        }
                    </div>
                    <div class="gridRow2">
                        @foreach (var a in db.Query("SELECT TOP (@0) Name FROM Players WHERE Room_Code = @1 AND Tbl_nr = @2 ORDER BY Name ASC", firsthalfnamesCount, roomCode, table))
                        {

                            <div class="chair">
                                <button id="pokerstool" value="@a.Name" name="player" type="button">@a.Name</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>Starting capital: @startvalue</p>
                <p>Small blind: <span id="SB">@small</span></p>
                <p>Big blind: <span id="BB">@big</span></p>
            </div>
        </div>
    </div>
    </div>
<div class="pauseModal modal fade show in" data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="v-cell">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Game Paused</h4>
                </div>
                <div class="modal-body">
                    Game paused for <b id="pausedDuration">@pauseDuration</b> seconds.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="roundModal modal fade show in" data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="v-cell">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">The round is over</h4>
                </div>
                <div class="modal-body">
                    A new round will now start
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script>
    var roomcode = $("#roomCode").html();
    var currentHours = $('#Hours').html();
    var currentMinutes = $('#Minutes').html();
    var currentSeconds = $('#Seconds').html();
    var blind = $('#Blinds').html();
    var pauseTime = $('#Pause').html();
    var pauseDuration = $('#PauseDuration').html()
    var totalRoundTimer = $('#totalRoundTimer').html();
    var round = $('#rnumber').html();   

    //Increment timer
    setInterval(function () {
        $.ajax({
            url: "PauseAjax.cshtml",
            type: "get",
            data: {
                roomCode: roomcode
            },
            success: function (response) {
                if (response === "1") {
                    totalSecs = currentSeconds + (currentMinutes * 60) + (currentHours * 3600);
                    var displayHours = currentHours;
                    var displayMinutes = currentMinutes;
                    var displaySeconds = currentSeconds;

                    sessionStorage.setItem("timer", displayHours);


                    if (currentHours.toString().length < 2) {
                        displayHours = "0" + currentHours;
                    }

                    if (currentMinutes.toString().length < 2) {
                        displayMinutes = "0" + currentMinutes;
                    }

                    if (currentSeconds.toString().length < 2) {
                        displaySeconds = "0" + currentSeconds;
                    }

                    if (totalSecs % blind === 0) {
                        $.ajax({
                            url: "BlindTimer.cshtml",
                            type: "get",
                            data: {
                                roomCode: roomcode,
                                blind: blind,
                                totalSecs: totalSecs
                            },
                            success: function (response) {
                                response = response.split("-");
                                document.querySelector('#SB').innerHTML = response[1];
                                document.querySelector('#BB').innerHTML = response[2];
                            }
                        })
                    }
                    if (totalSecs % totalRoundTimer === 0) {
                        round++;
                        $('.roundModal').modal('show');
                        currentSeconds++;
                        setTimeout(function () {
                            $('.roundModal').modal('hide');
                        }, 2000);
                    }
                    if (totalSecs % pauseTime === 0) {
                        console.log("Pauze!");
                        $('.pauseModal').modal('show');
                        setTimeout(function () {
                            $('.pauseModal').modal('hide');
                            currentSeconds -= pauseDuration;
                        }, 1000 * pauseDuration);
                    }

                    currentSeconds++;

                    if (currentSeconds === 60) {
                        currentMinutes++;
                        currentSeconds = 0;
                    }

                    if (currentMinutes === 60) {
                        currentHours++;
                        currentMinutes = 0;
                    }

                    //Update Page
                    document.querySelector('.timer').innerHTML = "Game Time: " + displayHours + ":" + displayMinutes + ":" + displaySeconds;
                    document.querySelector('#rnumber').innerHTML = round;
                }
                else {
                    document.querySelector('.timer').innerHTML = "The game is currently not running";
                }
            }
        })
    }, 1000);
</script>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable").click(function () {
            window.location = $(this).find("a:first").attr("href");
        });
    });
    jQuery(document).ready(function ($) {
        $(".clickableBtn").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>