@using WebMatrix.Data

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Table View";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);



    int urlcode = Int32.Parse(Request.QueryString["rc"]);
    int table = Int32.Parse(Request.QueryString["tn"]);

    var namen = db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1", urlcode, table);
    int aantal = namen.Count();
    double gedeeld = aantal / 2;
    int helft = Convert.ToInt32(gedeeld);
    int eerste = Convert.ToInt32(aantal - helft);
    int tweede = Convert.ToInt32(eerste - 1);
    if (aantal % 2 == 0)
    {
        tweede = eerste;
    }
    if (aantal > 10)    //Haal max spelers uit database
    {
        string Url = "Players.cshtml/" + urlcode;   //Needs fixing
        Response.Redirect("~/" + Url);
    }
}
<style>
    .gridd {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 30% 30% 20%;
    }
    .chair{
        grid-column-start: auto;
        order: inherit;
    }
    .chair2{
        grid-row-start: 4;
        grid-column-start: auto;
        order:inherit;
    }
    .table {
        flex:auto;
        grid-area: 2 / 2 / 4 / 5;
    }
    .white{
        grid-column: 1;
        grid-row: 1;
    }
    .white2 {
        grid-column: 5;
        grid-row: 1;
    }
    .white3 {
        grid-column: 1;
        grid-row: 4;
    }
    .white4 {
        grid-column: 5;
        grid-row-end: 5;
    }
</style>
    <div class="py-5">
        <div class="container">

                <div class="col-md-12 text-center">
                    <h1>Table @table</h1>
                </div>
                <div class="gridd">

                    <div class="white"></div>
                    <div class="white2"></div>
                    <div class="white3"></div>
                    <div class="white4"></div>
                    @if(aantal <= 7){
                     foreach (var a in db.Query("SELECT TOP (@2) Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name DESC", urlcode, table, tweede)){
                    <div class="chair2">

                        <img src="stoel.png" alt="chair" style="width:75px;height:75px" />

                        <b>@a.Name</b>

                    </div>
                    }

                    foreach (var a in db.Query("SELECT TOP (@0) Name FROM Players WHERE Room_Code = @1 AND Tbl_nr = @2 ORDER BY Name ASC", eerste, urlcode, table))
                                 {

                    <div class="chair">

                        <img src="stoel.png" alt="chair" style="width:75px;height:75px" />

                        <b>@a.Name</b>

                    </div>
                                }
                    }
                    @if(aantal > 7){
                    foreach (var a in db.Query("SELECT Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name ASC",  urlcode, table)){
                    <div class="chair">

                        <img src="stoel.png" alt="chair" style="width:75px;height:75px" />

                        <b>@a.Name</b>

                    </div>
                    }
                    }


                    <div class="table">
                        <img src="~/tafel.png" name="pokertable" style="height:250px; width:100%" />
                    </div>


                    @*@foreach (var a in db.Query("SELECT TOP (@2) Name FROM Players WHERE Room_Code = @0 AND Tbl_nr = @1 ORDER BY Name DESC", urlcode, table, tweede))
        {
                                    <div class="item">

                                        <img src="stoel.png" alt="chair" style="width:75px;height:75px" />

                                        <b>@a.Name</b>

                                    </div>
        }*@

                </div>
                    </div>
                </div>

